<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dc-sample.ZPM">
    <Module>
      <Name>dc-sample</Name>
      <Version>2.0.4</Version>
      <Description>Basic InterSystems IRIS Development Template</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.sample.PKG"/>
      <UnitTest Name="/tests" Package="dc.sample.unittests" Phase="test"/>

    </Module>
  </Document>
</Export>
